@font-face {
  font-family: 'iconfont';  /* project id 3222552 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3222552_c986u66mcp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_3222552_c986u66mcp.woff') format('woff'),
  url('//at.alicdn.com/t/font_3222552_c986u66mcp.ttf') format('truetype'),
  url('#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
